{% load static %}
{% load filters %}
<!doctype html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static "css/auth.css" %}"/>
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon_quokka.ico' %}"/>
    <link rel="icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>
    <link href="https://fonts.googleapis.com/css?family=Overpass:300,400,600&display=swap" rel="stylesheet">
    <title>Quokka - A place to share knowledge and better understand the world</title>
</head>

<body>
    <div id="presentation-div" class="presentation-div">
        <div>
            <div class="logo">
                Quokka
            </div>
        </div>
        <h2 class="tagline">A place to share knowledge and better understand the world</h2>

        <div class="enter-div">
            <button class="button" onclick="showAuth()">Enter</button>
        </div>

        <div>
            <div class="about-text">

                <h2 class="about-title">Why Quokka exists</h2>
                <p>Quokka’s mission is to share and grow the world’s knowledge. We want to connect the people who have
                    knowledge to the people who need it, to bring together people with different perspectives so they can
                    understand each other better.

                    That way, we want to empower everyone to share their knowledge for the benefit of the rest of the world.
                    A place to have all questions answered and to help others. </p>
            </div>
        </div>

        <div class="learn-more-div">
            <a class="item-footer ghost" href="{% url 'about' %}">
                Learn more!
            </a>
        </div>

    </div>


    <div id="home-page-signup-login" class="home-page-signup-login">
        <div>
            <div class="logo">
                Quokka
            </div>
        </div>
        <h2 class="tagline">A place to share knowledge and better understand the world</h2>
        <div class="container">
            <div class="content-inner">
                <div class="signup-login">
                    <div class="signup">
                        <div class="title">Sign up</div>
                        <div class="email-signup">
                            <form action="" method="POST">
                                {% csrf_token %}
                                {{ form_signup.non_field_errors }}

                                    <div class="form-row half">

                                            {{ form_signup.first_name.errors }}
                                            <label class="label-register" for="{{ form_signup.first_name.id_for_label }}">FIRST NAME</label>
                                            {{ form_signup.first_name | addclass:'register-input' }}

                                    </div>
                                    <div class="form-row half">

                                            {{ form_signup.last_name.errors }}
                                            <label class="label-register" for="{{ form_signup.last_name.id_for_label }}">LAST NAME</label>
                                            {{ form_signup.last_name | addclass:'register-input' }}

                                    </div>

                                <div class="form-row">

                                        {{ form_signup.email.errors }}
                                        <label class="label-register" for="{{ form_signup.email.id_for_label }}">E-MAIL</label>
                                        {{ form_signup.email | addclass:'register-input' }}

                                </div>
                                <div class="form-row">

                                        {{ form_signup.password.errors }}
                                        <label class="label-register" for="{{ form_signup.password.id_for_label }}">PASSWORD</label>
                                        {{ form_signup.password | addclass:'register-input' }}

                                </div>
                            <button class="button" type="submit" name="submit" value="signup">Sign up</button>
                        </form>
                        </div>
                    </div>
                    <div class="login">
                        <div class="title">Log in</div>
                        <form action="" method="POST">
                            {% csrf_token %}
                            {{ form_login.non_field_errors }}
                            <div class="form-row">

                                    {{ form_login.username.errors }}
                                    {{ form_login.username | addclass:'login-input' }}

                            </div>
                            <div class="form-row">

                                    {{ form_login.password.errors }}
                                    {{ form_login.password | addclass:'login-input' }}

                            </div>
                            <button class="button" type="submit" name="submit" value="login">Log in</button>
                        </form>

                        {% if user.is_authenticated %}
                            <p>Hi {{ user.email }}!</p>
                        {% else %}
                            <p>You are not logged in</p>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>

        <div class="footer">
            <a class="item-footer ghost" href="{% url 'about' %}">
                About Quokka
            </a>
        </div>

    </div>

    <script>
        function showAuth() {
            document.getElementById("home-page-signup-login").style.display = "block";
            document.getElementById("presentation-div").style.display = "none";
        }
    </script>

</body>