{% load static %}

<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{% static 'css/modal_question.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="icon" href="https://qsf.fs.quoracdn.net/-3-images.favicon.ico-26-ae77b637b1e7ed2c.ico">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Overpass:300,400,600&display=swap" rel="stylesheet">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    {% block extrahead %}{% endblock extrahead %}
</head>

<body>
    {% block notifications %}
    {% if error %}
    <div id="notification" class="error">
        {{error}}
    </div>
    {% endif %}
    <div class="notification">

    </div>

    {% endblock %}

    {% block header %}
    {% if user.is_authenticated %}
    <div class="header">
        <a href="{% url 'homepage' %}">
            <div class="logo">
                Quokka
            </div>
        </a>

        <div class="user-overview">
            <div class="welcome">
                <a class="text-link ghost" href="{% url 'profile' username=user.email %}">
                    {% if user.first_name != '' %}
                    Welcome, <b>{{user.first_name}} {{user.last_name}}</b>!
                    {% else %}
                    Welcome, <b>{{user.email}}</b>!
                    {% endif %}
                </a>
            </div>
            <button id="new-post-button" class="button" data-toggle="modal" data-target="#openQuestionModal">
                Ask a question
            </button>
            <a href="{% url 'logout' %}" class="button ghost">Log out</a>
        </div>
    </div>
    {% else %}
    <div style="height: 5em"></div>
    {% endif %}
    {% endblock header %}

    <div class="modal" id="openQuestionModal">
        <div class="modal_overlay">
            <div class="modal_wrapper normal">
                <div class="Step AskQuestionStep Modal">
                    <div class="modal_header only_close_button">
                        <div class="modal_close">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="tabs_header u-flex-inline u-flex-row">
                            <div class="tab selected">Add Question</div>
                        </div>
                    </div>
                    <form id="postForm" action="" method="POST">
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        <input type="hidden" name="user" value="{{ user.id }}">
                        <div class="modal_content modal_content_tabs">
                            <div>
                                <div class="u-border-bottom u-margin-bottom--md u-padding-bottom--sm">
                                    <p class="u-sans-font-main--large u-font-weight--medium u-margin-bottom--sm">
                                        Tips on
                                        getting good answers quickly</p>
                                    <ul class="tip_list">
                                        <div class="u-margin-bottom--sm u-flex u-flex-align--center">
                                            <span
                                                class="ui_icon ui_icon_color--blue ui_icon_size--small ui_icon_outline--default"
                                                aria-hidden="true">
                                                <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1"
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    xmlns:xlink="http://www.w3.org/1999/xlink">
                                                    <g fill="none" fill-rule="evenodd" stroke-linecap="round"
                                                        stroke-linejoin="round">
                                                        <path class="icon_svg-stroke"
                                                            d="M12,3 C16.971,3 21,7.029 21,12 C21,16.971 16.971,21 12,21 C7.029,21 3,16.971 3,12 C3,7.029 7.029,3 12,3 Z M8,12.6290909 L10.9090909,15.5381818 L16,9"
                                                            stroke="#666666" stroke-width="1.5"></path>
                                                    </g>
                                                </svg>
                                            </span>
                                            <span class="u-margin-left--sm">Make sure your question hasn't been
                                                asked
                                                already</span>
                                        </div>
                                        <div class="u-margin-bottom--sm u-flex u-flex-align--center">
                                            <span
                                                class="ui_icon ui_icon_color--blue ui_icon_size--small ui_icon_outline--default"
                                                aria-hidden="true">
                                                <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1"
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    xmlns:xlink="http://www.w3.org/1999/xlink">
                                                    <g fill="none" fill-rule="evenodd" stroke-linecap="round"
                                                        stroke-linejoin="round">
                                                        <path class="icon_svg-stroke"
                                                            d="M12,3 C16.971,3 21,7.029 21,12 C21,16.971 16.971,21 12,21 C7.029,21 3,16.971 3,12 C3,7.029 7.029,3 12,3 Z M8,12.6290909 L10.9090909,15.5381818 L16,9"
                                                            stroke="#666666" stroke-width="1.5"></path>
                                                    </g>
                                                </svg>
                                            </span>
                                            <span class="u-margin-left--sm">Keep your question short and to the
                                                point</span>
                                        </div>
                                        <div class="u-margin-bottom--sm u-flex u-flex-align--center">
                                            <span
                                                class="ui_icon ui_icon_color--blue ui_icon_size--small ui_icon_outline--default"
                                                aria-hidden="true">
                                                <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1"
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    xmlns:xlink="http://www.w3.org/1999/xlink">
                                                    <g fill="none" fill-rule="evenodd" stroke-linecap="round"
                                                        stroke-linejoin="round">
                                                        <path class="icon_svg-stroke"
                                                            d="M12,3 C16.971,3 21,7.029 21,12 C21,16.971 16.971,21 12,21 C7.029,21 3,16.971 3,12 C3,7.029 7.029,3 12,3 Z M8,12.6290909 L10.9090909,15.5381818 L16,9"
                                                            stroke="#666666" stroke-width="1.5"></path>
                                                    </g>
                                                </svg>
                                            </span>
                                            <span class="u-margin-left--sm">Double-check grammar and spelling</span>
                                        </div>
                                    </ul>
                                </div>
                                <div class="u-border-bottom u-margin-bottom--md u-padding-bottom--sm">
                                    <div class="ask_modal_header u-flex">
                                        <div class="user_asks_header">
                                            {% if user.first_name != '' %}
                                            <span class="user"> {{user.first_name}} {{user.last_name}} asked </span>
                                            {% else %}
                                            <span class="user"> {{user.email}} asked </span>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="AskQuestionSelector Selector" tabindex="-1">
                                        <div class="selector_input_interaction">
                                            <textarea class="selector_input" id="questionTextarea" name="question" rows="1"
                                                onkeyup="textAreaAdjust(this)"
                                                title="Start your question with &quot;What&quot;, &quot;How&quot;, &quot;Why&quot;, etc."
                                                data-group="js-editable"
                                                placeholder="Start your question with &quot;What&quot;, &quot;How&quot;, &quot;Why&quot;, etc."></textarea>
                                        </div>
                                    </div>
                                </div>

                                <div>
                                    <p class="u-sans-font-main--large u-font-weight--medium u-margin-bottom--sm">Select one to three topics to categorise your post</p>
                                     <div class="row u-margin-bottom--sm">
                                         <div class="col-sm-4">
                                             <label class="topic-btn" onclick="setColor(event)";>
                                                 <input type="checkbox"> Technology
                                                 <span class="fa fa-check"></span>
                                             </label>
                                         </div>
                                         <div class="col-sm-4">
                                             <label class="topic-btn" onclick="setColor(event)";>
                                                <input type="checkbox"> Mathematics
                                                <span class="fa fa-check"></span>
                                            </label>
                                         </div>
                                         <div class="col-sm-4">
                                             <label class="topic-btn" onclick="setColor(event)";>
                                                <input type="checkbox"> Entertainment
                                                <span class="fa fa-check"></span>
                                            </label>
                                         </div>
                                    </div>

                                    <div class="row u-margin-bottom--sm">
                                         <div class="col-sm-4">
                                             <label class="topic-btn" onclick="setColor(event)";>
                                                <input type="checkbox"> Business
                                                <span class="fa fa-check"></span>
                                            </label>
                                         </div>
                                         <div class="col-sm-4">
                                             <label class="topic-btn" onclick="setColor(event)";>
                                                <input type="checkbox"> Humanities
                                                <span class="fa fa-check"></span>
                                            </label>
                                         </div>
                                         <div class="col-sm-4">
                                             <label class="topic-btn" onclick="setColor(event)";>
                                                <input type="checkbox"> Literature
                                                <span class="fa fa-check"></span>
                                            </label>
                                         </div>
                                    </div>

                                    <div class="row u-margin-bottom--sm">
                                         <div class="col-sm-4">
                                             <label class="topic-btn" onclick="setColor(event)";>
                                                <input type="checkbox"> Politics
                                                <span class="fa fa-check"></span>
                                            </label>
                                         </div>
                                         <div class="col-sm-4">
                                             <label class="topic-btn" onclick="setColor(event)";>
                                                <input type="checkbox"> Healthcare
                                                <span class="fa fa-check"></span>
                                            </label>
                                         </div>
                                         <div class="col-sm-4">
                                             <label class="topic-btn" onclick="setColor(event)";>
                                                <input type="checkbox"> Education
                                                <span class="fa fa-check"></span>
                                            </label>
                                         </div>
                                    </div>

                                    <div class="row u-margin-bottom--sm">
                                         <div class="col-sm-4">
                                             <label class="topic-btn" onclick="setColor(event)";>
                                                <input type="checkbox"> Sports
                                                <span class="fa fa-check"></span>
                                            </label>
                                         </div>
                                         <div class="col-sm-4">
                                             <label class="topic-btn" onclick="setColor(event)";>
                                                <input type="checkbox"> Cooking
                                                <span class="fa fa-check"></span>
                                            </label>
                                         </div>
                                         <div class="col-sm-4">
                                             <label class="topic-btn" onclick="setColor(event)";>
                                                <input type="checkbox"> Science
                                                <span class="fa fa-check"></span>
                                            </label>
                                         </div>
                                    </div>

                                    <div class="row u-margin-bottom--sm">
                                         <div class="col-sm-4">
                                             <label class="topic-btn" onclick="setColor(event)";>
                                                <input type="checkbox"> Nature
                                                <span class="fa fa-check"></span>
                                            </label>
                                         </div>
                                         <div class="col-sm-4">
                                             <label class="topic-btn" onclick="setColor(event)";>
                                                <input type="checkbox"> Life
                                                <span class="fa fa-check"></span>
                                            </label>
                                         </div>
                                         <div class="col-sm-4">
                                             <label class="topic-btn" onclick="setColor(event)";>
                                                <input type="checkbox"> Travel
                                                <span class="fa fa-check"></span>
                                            </label>
                                         </div>
                                    </div>

                                    <div class="row u-margin-bottom--sm">
                                         <div class="col-sm-4">
                                             <label class="topic-btn" onclick="setColor(event)";>
                                                <input type="checkbox"> News
                                                <span class="fa fa-check"></span>
                                            </label>
                                         </div>
                                         <div class="col-sm-4">
                                             <label class="topic-btn" onclick="setColor(event)";>
                                                <input type="checkbox"> Art
                                                <span class="fa fa-check"></span>
                                            </label>
                                         </div>
                                         <div class="col-sm-4">
                                             <label class="topic-btn" onclick="setColor(event)";>
                                                <input type="checkbox"> Other
                                                <span class="fa fa-check"></span>
                                            </label>
                                         </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal_footer">

                            <div class="modal_actions">
                                <span>
                                    <a class="button ghost" data-dismiss="modal" aria-label="Close" href="">Cancel</a>
                                </span>
                                <span>
                                    <button id="postQuestionButton" class="button" name="submit" value="addQuestion">Add Question</button>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="main-container">

        {% block content %}{% endblock content %}

        <footer>
            <a class="item-footer ghost" href="{% url 'about' %}">
                About Quokka
            </a>
        </footer>

    </div> <!-— /.main-container-->

    <script>
        setTimeout(function () {$('#notification').addClass('hidden')}, 1500);

        function textAreaAdjust(o) {
            o.style.height = "1px";
            o.style.height = (25 + o.scrollHeight) + "px";
        }

        function setColor(e) {
            var status = e.target.classList.contains('active');

            e.target.classList.add(status ? 'inactive' : 'active');
            e.target.classList.remove(status ? 'active' : 'inactive');
        }

        $('#postForm').submit(function() {
            var num_active_topics = document.querySelectorAll('input[type="checkbox"]:checked').length;
            if (num_active_topics === 0) {
                alert("Select at least one topic for your question.");
                return false;
            } else if (num_active_topics > 3) {
                alert("Select at most three topics for your question.")
                return false;
            }
            return true; // return false to cancel form action
        });
    </script>

</body>

</html>