<!DOCTYPE html>
<html>

<head>
    <link rel="icon" href="https://qsf.fs.quoracdn.net/-3-images.favicon.ico-26-ae77b637b1e7ed2c.ico">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Overpass:300,400,600&display=swap" rel="stylesheet">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    {% block extrahead %}{% endblock extrahead %}
</head>

<body>
    {% block notifications %}
    {% if error %}
    <div id="notification" class="error">
        {{error}}
    </div>
    {% endif %}
    <div class="notification">

    </div>
    {% endblock %}
    {% block header %}
    <div class="header">
        <a href="{% url 'homepage' %}">
            <div class="logo">
                Quokka
            </div>
        </a>
        <div class="user-overview">
            <div class="welcome">
                {% if user.first_name != '' %}
                Welcome, <b>{{user.first_name}} {{user.last_name}}</b>!
                {% else %}
                Welcome, <b>{{user.email}}</b>!
                {% endif %}
            </div>
            <button id="new-post-button" class="button" data-toggle="modal" data-target="#openQuestionModal">
                Ask a question
            </button>
            <a href="{% url 'logout' %}" class="button ghost">Log out</a>
        </div>
    </div>
    {% endblock header %}
    {% block content %}{% endblock content %}

    <script>
        setTimeout(function () {$('#notification').addClass('hidden')}, 1500);
    </script>

</body>

</html>