{% extends "base.html" %}
{% load filters %}
{% load static %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<title>Quokka - Home</title>
{% endblock extrahead %}

{% block content %}
<div class="Content">
    <div class="Posts">
        {% for post in list %}
        <a href="{% url 'question' id=post.id %}">
            <div class="Post">
                <div class="PostMeta">
                    <div class="PostDate">{{post.date}}</div>
                    <div class="PostUser"><b>{{post.user.first_name}} {{post.user.last_name}}</b> asks:</div>
                </div>
                <div class="PostTitle">{{post.question}}</div>
            </div>
        </a>
        {% endfor %}
    </div>
</div>

{% endblock content %}