{% extends "base.html" %}
{% load filters %}
{% load static %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/user_profile.css' %}">
<title>Quokka - {{user.first_name}}'s Profile</title>
{% endblock extrahead %}


{% block content %}
<div class="container">
    <div class="column main">
        <div class="profile-info">
            <div class="edit-profile">
                <a href="" class="active" data-toggle="modal" data-target="#openEditModal"><i
                        class="fa fa-fw fa-edit"></i>Edit profile</a>
            </div>
            <div class="row row-no-gutters">
                <div class="col-sm-4">
                    <img class="profile-image" src="{% static "images/profile_default.png" %}" alt="Profile image"
                        width="150" height="150">
                </div>
                <div class="col-sm-8">
                    <br><br>
                    <div class="profile-text">
                        <h2>{{user.first_name}} {{user.last_name}}</h2><br>
                        {% if user.description %}
                        <p> {{user.description}} </p>
                        {% else %}
                        <p>You haven't written your bio yet!</p>
                        {% endif %}
                    </div>

                </div>

            </div>
            <div class="btn-container">
                <form action="" method="POST">
                    {% csrf_token %}
                    <button name="submit" value="follow"
                        class="btn followButton {% if is_following %} following {% endif %}" rel="6">
                        {% if is_following %}
                        Following
                        {% else %}
                        Follow
                        {% endif %}
                        </input>
                </form>
            </div>
        </div>
        <div class="Content">
            <div class="row">
                <div class="column aux">
                    <div class="vertical-menu-user">
                        <a href="#" class="active">Questions</a>
                        <a href="#">Answers</a>
                        <a href="#">Following</a>
                        <a href="#">Followers</a>
                    </div>
                </div>
                <div class="column main">
                    <div class="Posts">
                        <h5>Your Posts</h5>
                        {% if posts %}
                        {% for post in posts %}
                        <div class="Post">
                            <div class="PostMeta">
                                <div class="PostDate">{{post.0.date}}</div>
                                <div class="PostUser"><b>{{post.0.user.first_name}} {{post.0.user.last_name}}</b> asks:
                                </div>
                            </div>
                            <a href="{% url 'question' id=post.0.id %}">
                                <div class="PostTitle">{{post.0.question}}?</div>
                            </a>
                            <div class="row u-margin-bottom--sm">
                                {% for topic in post.1 %}
                                <label class="topic-label">{{topic}}</label>
                                {% endfor %}
                            </div>
                            <div>
                                <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1"
                                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <g id="comment" class="icon_svg-stroke icon_svg-fill" stroke="#666"
                                        stroke-width="1.5" fill="none" fill-rule="evenodd">
                                        <path
                                            d="M12.0711496,18.8605911 C16.1739904,18.8605911 19.5,15.7577921 19.5,11.9302955 C19.5,8.102799 16.1739904,5 12.0711496,5 C7.96830883,5 4.64229922,8.102799 4.64229922,11.9302955 C4.64229922,13.221057 5.02055525,14.429401 5.67929998,15.4641215 C5.99817082,15.9649865 4.1279592,18.5219189 4.56718515,18.9310749 C5.02745574,19.3598348 7.80252458,17.6358115 8.37002246,17.9406001 C9.45969688,18.5258363 10.7235179,18.8605911 12.0711496,18.8605911 Z">
                                        </path>
                                    </g>
                                </svg>
                                {{post.2}} answers
                            </div>
                        </div>
                        {% endfor %}
                        {% else %}
                        <div class="line main"></div><br>
                        <p>You haven't posted anything yet!</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="openEditModal">
    <div class="modal_overlay">
        <div class="modal_wrapper normal">
            <div class="Step AskQuestionStep Modal">
                <div class="modal_header only_close_button">
                    <div class="modal_close">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="tabs_header u-flex-inline u-flex-row">
                        <div class="tab selected">Edit your profile</div>
                    </div>
                </div>

                <form action="" method="POST">
                    {% csrf_token %}
                    {{ form.non_field_errors }}

                    <div class="modal_content modal_content_tabs">
                        <div>
                            <label class="label-profile">Profile image</label>
                            <div class="row image-div">
                                <img class="profile-image image-edit" id="profile-image"
                                    src="{% static "images/profile_default.png" %}" alt="Profile image" width="150"
                                    height="150">
                            </div>
                            <div class="row image-input">
                                {{ form.photo.errors }}
                                {{ form.photo }}
                            </div>

                            <hr>

                            <div class="row input-edit">
                                {{ form.first_name.errors }}
                                {{ form.first_name }}
                            </div>

                            <div class="row input-edit">
                                {{ form.last_name.errors }}
                                {{ form.last_name }}
                            </div>

                            <div class="row input-edit">
                                <label class="label-profile">Bio</label>
                                {{ form.description.errors }}
                                {{ form.description }}
                                <!--
                                {% if user.description %}
                                <input type="text" value="{{user.description}}" placeholder="Write something about yourself">
                                <textarea rows="4" cols="50" maxlength="350" id="bioTextarea" name="question"
                                    title="{{user.description}}"
                                    placeholder="Write something about yourself"></textarea>
                                {% else %}
                                <input type="text" value="You haven't written your bio yet!" placeholder="Write something about yourself">
                                <textarea rows="4" cols="50" maxlength="350" id="bioTextarea" name="question"
                                    title="You haven't written your bio yet!"
                                    placeholder="Write something about yourself"></textarea>
                                {% endif %}
                                -->
                            </div>

                        </div>
                    </div>
                    <div class="modal_footer">
                        <div class="modal_actions">
                            <span>
                                <a class="button ghost" data-dismiss="modal" aria-label="Close" href="">Cancel</a>
                            </span>
                            <span>
                                <button class="button" name="submit" value="editProfile">Apply changes</button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#profile-image')
                    .attr('src', e.target.result)
                    .width(150)
                    .height(150);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }

    $('div.btn-container').on('click', 'button.followButton', function (e) {

        $button = $(this);
        if ($button.hasClass('following')) {

            //$.ajax(); Do Unfollow

            $button.removeClass('following');
            $button.removeClass('unfollow');
            $button.text('Follow');
        } else {

            // $.ajax(); Do Follow

            $button.addClass('following');
            $button.text('Following');
        }
    });

    $('div.btn-container').on('mouseover', 'button.followButton', function () {
        $button = $(this);
        if ($button.hasClass('following')) {
            $button.addClass('unfollow');
            $button.text('Unfollow');
        }
    });
    $('div.btn-container').on('mouseout', 'button.followButton', function () {
        $button = $(this);
        if ($button.hasClass('following')) {
            $button.removeClass('unfollow');
            $button.text('Following');
        }
    });
</script>

{% endblock content %}