{% extends "base.html" %}
{% load filters %}
{% load static %}

{% block extrahead %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'css/view_question.css' %}">
<title>{{post.question}} - Quokka</title>

{% endblock extrahead %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="column main">
      <a class="text-link ghost" href="{% url 'profile' username=username.email %}">{{username.first_name}}
        {{username.last_name}}</a> asks:
      <h2 class="question-title u-margin-bottom--md">{{post.question}}?</h2>

      <div class="u-margin-bottom--sm">
        {% for topic in topics %}
        <label class="topic-label"><a href="#" class="topic-link">{{topic}}</a></label>
        {% endfor %}
      </div>
      {% if answers %}
      <h3 class="subtitle">{{answers.count}} answers</h3>
      {% for answ in answers %}
      <div class="line main"></div><br>
      <p>{{answ.user.first_name}} {{answ.user.last_name}}</p>
      <p class="date">{{answ.date}}</p>
      <p>{{answ.content}}</p>
      <div class="actions">
        <a class="active" href="#"><i class="fa fa-fw fa-thumbs-o-up" style="color:#33beff"></i>Upvote</a>
        <a href="#"><i class="fa fa-fw fa-share"></i> Share</a>
        <a href="#"><i class="fa fa-fw fa-thumbs-o-down"></i></a>
        <a href="#"><i class="fa fa-fw fa-ellipsis-h"></i></a>
      </div>
      {% endfor %}
      {% else %}
      <p>This post has no answers yet!</p>
      {% endif %}

      <form action="" method="POST">
        <input type="hidden" name="user" value="{{user.id}}">
        <input type="hidden" name="original_post" value="{{post.id}}">
        {% csrf_token %}
        {{ answer_form.content | addclass:'answer-input' }}
        <button type="submit" class="button" name="submit" value="addAnswer">Add answer</button>
      </form>
    </div>
    <!--
    <div class="column aux">
      <div style="margin-left:15px">
        <h2 class="related">Related Questions</h2>
        <div class="line main"></div><br>
        <p>This is related question 1?<br>
          This is related question 2?<br> How many related questions will we display?</p>
      </div>
    </div>
    -->

  </div>
</div>

{% endblock content %}