.Content{
    width: 75%;
    margin: 0 auto;
}

.Posts {
    width: 100%;
    margin: 0 auto;
}

.Post {
    background: white;
    padding: 2em;
    margin-bottom: 1em;
    box-shadow: 0 18px 25px -25px rgba(0,0,0,.1);
    height: 100%;
    border-radius: 0.25em;
    color: #444;
    position: relative;
}

.PostDate {
    opacity: .5;
}

.PostTitle {
    font-size: 26px;
    color: #333;
    font-weight: bold;
    margin-top: .5em;
}

.topic-label {
    background-color: #c1dbde;
    border-radius: 10px;
    border: none;
    color: black;
    padding: 4px;
    text-align: center;
    display: inline-block;
    margin-left: 10px;
    margin-right: 8px;
    width: 100px;
}