* {
  box-sizing: border-box;
}

/* Create columns */
.column {
    padding: 10px;
}

.aux {
    width: 30%;
}

.main {
    width: 100%;
}

.row {
    width: 75%;
    margin: 0 auto;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.line{

    height: 10px;
    border-top: 1px solid #aaa;
    position: absolute;
    width: 70%
}

.question-title{

    font-size: 30px;
    text-decoration: bold;
    margin-bottom:0px;
}


.date{
    font-size: 13px;
    color: #b3b3b3;
}

.subtitle{
    font-size: 18px;
    color: #595959
}

.related{

    color: #595959;
    font-size: 18px;
}

.actions {
    width: 100%;
    background-color: #FFF;
    margin-bottom: 10px;
    overflow: auto;
}

.actions a {
    float: left;
    padding: 12px;
    color: #595959;
    text-decoration: none;
    font-size: 15px;
}

.actions a:hover {
    background-color: #e8e8e8;
}
.container{
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

.button {
    padding: .5em 1em;
    background: -webkit-linear-gradient(to right, #4CA1AF, #468e9d);
    background: linear-gradient(to right, #4CA1AF, #468e9d);
    color: white;
    border-radius: .2em;
}

.button.ghost {
    background: transparent;
    color: #468e9d;
}

.answer-input {
    width: 100%;
    resize: none;
}